.results-title {
  text-align: center;
}

.results-message {
  text-align: center;
}

.results-group {
  border: 1px solid var(--mond-colors-gray-300);
}

.results-group.yellow {
  background-color: #f7dc6f;
}

.results-group.green {
  background-color: #52be80;
}

.results-group.blue {
  background-color: #5dade2;
}

.results-group.purple {
  background-color: #af7ac5;
}

.results-group-films {
  opacity: 0.8;
  margin-top: 0.25rem;
}
